@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


:root {
  --bg: #ffffff;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}
.nav-bar-links{
  display: flex;
  align-items: center;
}

.nav-links {
  padding-top: 300px;
  padding: 9px;
  margin-right: 20px;
  background-color: rgb(43, 40, 40);
  border-radius: 6px;
  color: white;
  font-size: 20px;
}

.nav-bar-header{
  border: rgb(119, 53, 53) solid 1px;
  justify-content: left;
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  border: rgb(119, 53, 53) solid 1px;
  
  
}

body {
  cursor: url('https://www.freeiconspng.com/uploads/bloody-knife-png-23.png'), auto;
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: 'Creepster', cursive; 
  font-size: 18px;
  text-align: center;
}

.haunted-house-card {
  text-align: center;
  border: rgb(119, 53, 53) solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}
.house-card-container{
  border: rgb(119, 53, 53) solid 1px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.haunted-house-image {
  justify-self: center;
  height: 12rem;
  width: auto;
}

.title {
  border: rgb(119, 53, 53) solid 1px;
  font-size: 80px;
  color: #9f1e1e;
  text-shadow: 2px 2px 4px rgb(247, 245, 245);
  vertical-align: top; 
  
}

#nav-title{
  border: rgb(119, 53, 53) solid 1px;
}

.about-section{
  border: rgb(255, 0, 0) solid 1px;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}